div.main {
  width: 100vw;

  position: relative;
  height: fit-content;
  background-color: rgb(227, 233, 255);
  display: flex;
  flex-direction: row;
}

div.main div.left {
  height: 100vh;
  flex: 0.2;
  border: 2px solid rgb(0, 51, 108);
}
div.main div.right {
  height: 100vh;
  flex: 0.8;
}
.right .editArea {
  display: flex;
  justify-content: flex-end;
  width: 80vw;
  /* height: 100vh; */
  flex-direction: row;
  align-items: center;
}
.right .backgroundItem {
  background-image: url("./../../../public/assets/phonecovers/pc1-transparent.png");

  /* background-image: url("./../../../public/assets/phonecovers/pc-white.png"); */
  /* background-image: url("./../../../public/assets/phonecovers/pc-black.png"); */

  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: royalblue;
  /* background-color: rgb(109, 180, 161); */
  /* background-color: white; */

  position: relative;
  width: min(80vw, 500px);
  height: 100vh;

  display: grid;
  place-items: center;
  /* background-color: rgb(192, 255, 137); */
  /* height: 100vw; */
  /* background-color: royalblue; */
}
.right .backgroundItem .cameraLens {
  position: absolute;
  top: 5%;
  left: 20%;
  width: 130px;
  height: 130px;
  z-index: 333;
}

.right .backgroundItem .printArea {
  width: 60%;
  overflow: hidden;
  height: 96vh;
  border-radius: 32px;

  transform: translate(50%, -50%);
  position: absolute;
  top: 50%;
  right: 50%;
  border: 1px dashed red;
}
.right .backgroundItem > .printArea .imageContainer {
  /* overflow: hidden; */
  position: relative;
  /* background-color: red; */

  z-index: 0;
  /* height: 200px;
  width: 220px; */
  height: fit-content;
  width: fit-content;
}
@media (width < 700px) {
  div.main {
    flex-direction: column;
  }

  .right :is(.backgroundItem, .editArea) {
    width: 100vw !important;
  }
  div.main div.right {
    height: 100vh;
    order: 2;
  }
  div.main div.right,
  .right .backgroundItem {
    height: 80vh;
    /* background-color: red; */
    width: 100vw;
  }

  div.main div.left {
    height: 20vh;
    /* position: absolute; */
    bottom: 0px;
    z-index: 3;
    width: 100vw;

    display: flex;
    order: 3;
    /* gap: 10px; */
    flex-direction: column;
    background-color: red;
    padding-bottom: 12px;
  }

  div.main div.left button,
  div.main div.left input {
    /* width: 100px; */
  }
  .right .backgroundItem > .printArea {
    height: 45vw;
  }
}
