div.main {
  width: 100vw;

  position: relative;
  height: fit-content;
  background-color: rgb(227, 233, 255);
  display: flex;
  flex-direction: row;
}

div.main div.left {
  height: fit-content;
  flex: 0.4;
  box-shadow: 1px 12px 16px 0 rgb(119, 119, 119);
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--clr-primary-light);
  padding: 5px;
  overflow-y: scroll;
  height: 100vh;
  padding-bottom: 20px;
}

div.main div.left::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

div.main div.left::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

div.main div.left::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--clr-primary-dark);
}
div.main div.left h2 {
  text-align: center;
  margin-block: 20px;
}
div.main div.left .addImage {
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--clr-primary-light);
}
div.main div.left > .resizeOptions {
  padding: 12px;
  width: 100%;
  background-color: var(--clr-primary-light, white);
}
div.main div.left .resizeOptions input {
  width: 100%;
  accent-color: var(--clr-primary-dark);
}
div.main div.left .addImage input {
  width: 100%;
  height: 80px;
  background-color: rgb(212, 212, 212);
  display: grid;
  place-items: center;
  position: relative;
}
div.main div.left .addImage input::before {
  content: "Or Drag Your Image Here";
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.12rem;
}
div.main div.left .addImage input[type="file"]::file-selector-button {
  border: 2px solid #6c5ce7;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: var(--clr-primary);
  transition: 100ms;
  /* margin: 12px 32px; */
  width: 100%;
  font-size: 1.05rem;
}

div.main div.left .addImage input[type="file"]::file-selector-button:hover {
  background-color: var(--clr-primary-light);
  border: 2px solid black;
}

div.main div.left .details h4 {
  display: inline-block;
}
div.main div.left .details textarea {
  width: 100%;
  font-size: 1.06rem;
  padding: 5px;
  resize: none;
}
div.main div.left .details + button.orderNowButton {
  height: 50px;
}
div.main div.left .Mugsvariation {
  display: flex;
  flex-wrap: wrap;
}
div.main div.left .Mugsvariation div {
  padding: 10px;
  display: grid;
  place-items: center;
  /* background-color: rgb(11, 195, 232); */
  border: 1px solid black;
  margin: 2px;
  border-radius: 12px;
  cursor: pointer;
  transition: 100ms;
}
div.main div.left .Mugsvariation div:hover {
  background-color: rgb(250, 207, 207);
}
div.main div.right {
  height: 100vh;
  flex: 0.6;
}
.right .editArea {
  display: flex;
  justify-content: center;
  width: 80vw;

  /* height: 100vh; */
  flex-direction: row;
  align-items: center;
  /* background-color: red; */
}
.right .backgroundItem {
  background-image: url("./../../../public/assets/mugs/mug-black.png");

  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  /* background-color: royalblue; */
  position: relative;
  width: min(80vw, 600px);
  /* width: 80vw; */
  height: 100vh;
}
.right .backgroundItem > .printArea {
  width: 69%;
  height: 330px;
  /* height: 45vw; */
  position: absolute;

  transform: translate(50%, -50%);
  top: 50%;
  left: 0;
  /* border: 1px dashed red; */
}
.right .backgroundItem > .printArea .imageContainer {
  position: absolute;

  top: 0;
  left: 0;
  /* background-color: red; */

  z-index: 0;
  height: 200px;
  width: 220px;
}
.right .backgroundItem > .printArea .imageContainer img {
  /* position: absolute;
  */
}
@media (width < 700px) {
  div.main {
    flex-direction: column;
  }

  .right :is(.backgroundItem, .editArea) {
    width: 100vw !important;
  }
  div.main div.right {
    height: 100vh;
    order: 2;
  }
  div.main div.right,
  .right .backgroundItem {
    height: 80vh;
    /* background-color: red; */
    width: 100vw;
  }

  div.main div.left {
    height: 20vh;
    /* position: absolute; */
    bottom: 0px;
    z-index: 3;
    width: 100vw;
    min-width: 100vw;
    display: flex;
    order: 3;
    /* gap: 10px; */
    flex-direction: column;
    /* background-color: red; */
    padding-bottom: 12px;
  }

  div.main div.left button,
  div.main div.left input {
    /* width: 100px; */
  }
  .right .backgroundItem > .printArea {
    height: 45vw;
  }
}
